

<html lang="en">
<head>
 <title>Yuva_NodeJs</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 <style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
   margin-bottom: 0;
   border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
   background-color: #f2f2f2;
   padding: 25px;
  }
 </style>


 <style>
  body{
   margin : 0;
   padding : 0;
   font-family : arial, sans-serif;
   background-color : #15242d;
   height: 100%;height:auto;
   min-width: 100%;width:auto;
   font-size: 15px;
   text-align:center;
   color:#fff;
  }
  /* Flash class and keyframe animation */
  .flashit{
   color:#f2f;
   -webkit-animation: flash linear 3s infinite;
   animation: flash linear 3s infinite;
  }
  @-webkit-keyframes flash {
   0% { opacity: 1; }
   50% { opacity: .1; }
   100% { opacity: 1; }
  }
  @keyframes flash {
   0% { opacity: 1; }
   50% { opacity: .1; }
   100% { opacity: 1; }
  }

 </style>

</head>
<body>

<nav class="navbar navbar-inverse">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#">Home</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">

   <ul class="nav navbar-nav navbar-right">
    <li><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   </ul>
  </div>
 </div>
</nav>

<div class="jumbotron">
 <div class="container text-center">
  <h1><font color="maroon">My Project </h1></h1>
  <p>Welcome To The Game Zone</p></font>
 </div>
</div>

<div class="container-fluid bg-3 text-center">

 <div class="row">
  <div class="col-sm-3">
   <img src="https://stmed.net/sites/default/files/shadow-warrior-2-hd-wallpapers-33609-8384123.jpg" class="flashit" style="width: 100%"  alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="https://wallpaperback.com/wp-content/uploads/2018/08/Lost-Planet-Pc-Game-Wallpaper.jpg" class="flashit" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="http://gamingrespawn.com/wp-content/uploads/2016/09/battlefield_1_squads-wallpaper-1920x1080.jpg"class="flashit" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="https://stmed.net/sites/default/files/battlefield-1-hd-wallpapers-32803-4754563.jpg" class="flashit" style="width:100%" alt="Image">
  </div>
 </div>
</div><br>

<div class="container-fluid bg-3 text-center">
 <div class="row">
  <div class="col-sm-3">
   <img src="http://yodobi.com/4k-Wallpapers/2016-games-wallpapers-picture-Is-4K-Wallpaper.jpg" class="flashit"style="width:100%" alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="https://wpmisc.com/sites/default/files/wallpaper/games/69970/world-warcraft-hd-wallpapers-69970-8646116.png" class="flashit" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-72695.jpg"  class="flashit" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-3">
   <img src="https://www.valis-it.com/wp-content/uploads/2015/11/9zBGP6X.jpg" class="flashit" style="width:100%" alt="Image">
  </div>
 </div>
</div>

<footer class="container-fluid text-center">
 <p>2019/2020 ©</p>
</footer>

</body>
</html>

